*{
    margin: 0;
   
}
form{
 display: flex;
 flex-direction: column;
 padding-left: 6%;
    background-color: antiquewhite;
    border: 1px solid black;
    padding-top: 0;
    width: 60%;
    background-color: #8ac926;
    border-radius: 10px;
}
.wrap{
    display: flex;
    align-items: center;
}
label{
    position: absolute;
    font-size: 20px;
    font-weight: 500;
}
main{
    padding: 5%;
    padding-top: 10px;
 width:100vw;
 display:flex;
 align-items: center;
 justify-content: center;
 background-color: #1b263b;
 flex-direction: column;
}
.input{
width: 40%;
height: 60px;
margin-left: 30%;
    margin-top: 10px;
    border-radius: 7px;
    font-size: 25px;
}
h1{
    text-align: center;
 color: #8ac926;
 padding:10px;
}
span{
color: red;
}

.success{
    display: none;
}
.over{
    margin-left: 40%;
    color: red;
}
#submit{
    width:55%;
    margin: 20px auto;
}
.redBorder{
    border:3px solid red;
}
.input:active{
    border: 1px solid transparent;
}
#message{
    color: red;
}
